### Example user template template

### main template
# python
*.pyc
__pychache__/
local_settings.py
.coverage


# code editors
.vs/
../.idea/
.vscode/

# logs
*.log

# IntelliJ project files
*.iml
out
gen

# venv
venv/

